.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -27px auto;
  max-width: 736px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form input {
  background-color: var(--gray-500);
  width: 638px;
  height: 54px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 25%);
  color: var(--gray-100);
}

.form button {
  background-color: var(--blue-dark);
  color: var(--gray-100);
  padding: 16px;
  width: 90px;
  height: 52px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 25%);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
}

.form button:hover {
  background-color: var(--blue);
}

.tarefas {
  width: 100%;
  margin-top: 64px;
}

.tarefas .titulos {
  display: flex;
  justify-content: space-between;
}

.tarefas .titulos .titulo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tarefas .titulos .titulo h3 {
  font-size: 0.9rem;
}

.tarefas .titulos .titulo span {
  background-color: var(--gray-400);
  color: var(--gray-200);
  font-weight: 700;
  font-size: 0.75rem;
  max-width: 100px;
  padding: 10px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 70%;
}

.tarefas .titulos .titulo .criadas {
  color: var(--blue);
}

.tarefas .titulos .titulo .concluidas {
  color: var(--purple);
}

.itens {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itens .conteudo {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  width: 100%;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itens .mensagem {
  margin-top: 16px;
  text-align: center;
}

.itens .mensagem {
  color: var(--gray-300);
}

.itens .mensagem h4:last-child {
  font-weight: 400;
}

.lista {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lista li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-500);
  width: 100%;
  border-radius: 8px;
  padding: 20px 27px;
  margin-bottom: 12px;
}

.lista li p {
  width: 80%;
  text-align: start;
  color: var(--gray-100);
}

.lista li .lixeira{ 
  display: flex;
  padding: 5px;
  border-radius: 4px;
}

.lista li .lixeira:hover path,
.lista li .lixeira:hover line {
  stroke: var(--danger);
}

.lista li .lixeira:hover {
  background-color: var(--gray-400);
}

p.riscado {
  text-decoration: line-through;
  color: var(--gray-300)!important;
}

input[type="checkbox"] {
  width: 17px;
  height: 17px;
  appearance: none; /* Remove o estilo padrão do navegador */
  border: 2px solid var(--blue);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:hover {
  background-color: rgba(30, 111, 159, 0.2);
}

input[type="checkbox"]:checked {
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
}

input[type="checkbox"]:checked:hover {
  background-color: var(--purple);
  border-color: var(--purple);
}

/* MOBILE */
@media (max-width: 759px) {
  
  .container {
    margin: -27px 5%;
  }

  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .form input {
    width: 90%;
    height: 54px;
    text-align: center;
  }

  .form button {
    padding: 16px;
    width: 90px;
    height: 52px;
  }
}