.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -27px auto;
  max-width: 736px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form input {
  background-color: var(--gray-500);
  width: 638px;
  height: 54px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 25%);
}

.form button {
  background-color: var(--blue-dark);
  color: var(--gray-100);
  padding: 16px;
  width: 90px;
  height: 52px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 25%);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
}

.form button:hover {
  background-color: var(--blue);
}

.tarefas {
  width: 100%;
  margin-top: 64px;
}

.tarefas .titulos {
  display: flex;
  justify-content: space-between;
}

.tarefas .titulos .titulo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tarefas .titulos .titulo h3 {
  font-size: 0.9rem;
} 

.tarefas .titulos .titulo span {
  background-color: var(--gray-400);
  color: var(--gray-200);
  font-weight: 700;
  width: 25px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40%;
}

.tarefas .titulos .titulo .criadas {
  color: var(--blue);
}

.tarefas .titulos .titulo .concluidas {
  color: var(--purple);
}

.itens {
  margin-top: 24px;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itens .conteudo {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itens .mensagem {
  margin-top: 16px;
  text-align: center;
}

.itens .mensagem {
  color: var(--gray-300);
}

.itens .mensagem h4:last-child{
  font-weight: 400;
}