.header {
    background-color: var(--gray-700);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 126px;
    height: 48px;
}

.header .logo img {
    width: 22px;
    height: 36px;
}

.header .logo h1 {
    color: var(--blue);
    font-size: 2.5rem;
    font-weight: 700;
}

.header .logo span {
    color: var(--purple-dark);
}